.display {
    width: 210px;
    height: 20px;
    border: 1px solid black;
    margin: 10px;
}



.keypad {
    display: grid;
    grid-gap: 10px 50px;
    grid-template-columns: 10px 10px 10px 10px;

}


button {
    width: 50px;
}